{% extends 'inicio/encabezado.html' %}

{% block titulo %} CONSULTAS COMENTARIOS {% endblock %}

{% block imagen %}
    {% load static %}
    {% static 'inicio/images/contacto.png' %}
{% endblock %}

{% block titulo_menu %}
    Consultas <span>DSM</span>
{% endblock %}

{% block seccion_activa %}{% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Mensaje</th>
                <th>Registrado</th>
            </tr>
        </thead>
        <tbody>
            {% for comentario in comentarios %}
            <tr>
                <td class="text-semibold">{{ comentario.usuario }}</td>
                <td class="muted">{{ comentario.mensaje }}</td>
                <td class="muted">{{ comentario.created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}